

    <div class="row">
        <div class="clearfix">
            <div class="e2-col-lg-3 e2-col-md-3 e2-col-sm-3 e2-col-xs-3">


            </div>
            <div class="e2-col-lg-2 e2-col-md-8 e2-col-sm-8 e2-col-xs-8">


            </div>
        </div>
    </div>
    <div style="margin-top:5px;">
        <table kendo-grid="???" k-data-source="???" options="???"  class="myTable"
                pb-kendo-grid="???"
               pb-kendo-grid-options="???">
            <thead>
                <tr>
                    <th class="tableth"><span></span></th>

                </tr>
            </thead>
        </table>
        <script Id="???" type="text/x-kendo-template">
                <kendo-button icon="'k-icon k-i-add'">
                    <span></span>
                </kendo-button>
        </script>
        <script Id="???" type="text/x-kendo-template">
                <a class="a-link"></a>
        </script>
        <script Id="???" type="text/x-kendo-template">
            <kendo-button icon="'k-icon k-i-delete'"><span></span></kendo-button>
        </script>
    </div>

