@model CustomerList_ListByDateVM



@using (Html.KendoForm("c.frmSearch", "SearchByDate"))
{
    <div class="row">
        <div class="clearfix">
            <div class="e2-col-lg-3 e2-col-md-3 e2-col-sm-3 e2-col-xs-3">
                @Html.NgLabelFor(m => m.Input.RegisterDate)
                @Html.KendoDatePickerFor(m => m.Input.RegisterDate)
            </div>
            <div class="e2-col-lg-2 e2-col-md-8 e2-col-sm-8 e2-col-xs-8">
                <kendo-button type="button" ng-click="c.Search_click()" icon="'k-icon k-i-search'">
                    <span translate="Search"></span>
                </kendo-button>
            </div>
        </div>
    </div>
    <div style="margin-top:5px;">
        <table kendo-grid="c.grdCustomer" k-data-source="DataSource" options="GridOptions" pb-kendo-grid="c.vm"
               pb-kendo-grid-cols="[
            'Email',
            'Name_,T,80px',
            'User,|Display',
            'Gender',
            'RegisterDate,|Display',
            'Spending',
            'Vip,|Display:\'Customer_RankEnum\'',
            'Active,|Display'
        ]" pb-kendo-grid-options="{toolbarTpl:false}" class="myTable">
            <thead>
                <tr>
                    <th class="tableth"><span translate="Customer_Email"></span></th>
                    <th class="tableth"><span translate="Customer_Name_"></span></th>
                    <th class="tableth"><span translate="Customer_User"></span></th>
                    <th class="tableth"><span translate="Customer_Gender"></span></th>
                    <th class="tableth"><span translate="Customer_RegisterDate"></span></th>
                    <th class="tableth"><span translate="Customer_Spending"></span></th>
                    <th class="tableth"><span translate="Customer_Vip"></span></th>
                    <th class="tableth"><span translate="Customer_Active"></span></th>
                </tr>
            </thead>
        </table>

        <!-- pb-kendo-grid-options="{toolbarTpl:'MyToolbar-tpl'}" -->
        <script Id="MyToolbar-tpl" type="text/x-kendo-template">
                    <kendo-button @Url.State("forward:Add") icon="'k-icon k-i-add'" type="button">
                        <span translate="Add"></span>
                    </kendo-button>
        </script>

        <script Id="Name-template" type="text/x-kendo-template">
                    <a class="a-link" @Url.State("forward:Edit(id:#=Id#)")>#=Name_#</a>
        </script>
    </div>
}
