@model CustomerSectionVM

    <div style="white-space: nowrap;">
        <div class="e2-col-lg-3" style="text-align:left;">
            {{c.vm.Section_1|json}}
        </div>
        <br>
        <div class="e2-col-lg-3" style="text-align:left;">
            {{c.vm.Section_2|json}}
        </div>
    </div>

