.col-md-1-7 {
    width: 14.27%;
    float: left;
    border: 1px solid #ddd;
}

.col-xs-1-7, .col-sm-1-7, .col-md-1-7, .col-lg-1-7 {
    min-height: 1px;
    padding: 0px 10px 0px 10px;
    position: relative;
    text-align: center;
    font-size: 1.5em !important;
}

.row :hover {
    background-color: lightgrey;
}

.ymd {
    background-color: rgba(60, 110, 200, 1);
    text-align: center;
    color: white;
}

.blue {
    color: #3C6EC8;
}

.yellow {
    color: #FF9900;
}

.today {
    background-color: #3C6EC8;
    color: white;
}

.today2 {
    color: white;
}
