.x-kit-container{
    /*background:#FAFAFA;*/
    padding-left: 2px;
    padding-right:2px;
    padding-bottom:20px;
    padding-top:20px;
    border: 0;
}


@media (min-width: 768px) {
    .x-kit-container {
        padding-left:10px;
        padding-right:10px;
    }
}

@media (min-width: 992px) {
    .x-kit-container {
        padding-left:20px;
        padding-right:20px;
    }
}

@media (min-width: 1200px) {
    .x-kit-container {
        padding-left:20px;
        padding-right:20px;
    }
}

@media (min-width: 1452px) {
    .x-kit-container {
        padding-left:20px;
        padding-right:20px;
    }
}